.current-img {
  padding-top: 12px;
}

.btn-update-exp {
  margin-left: 15px;
}

.delete-modal-heading {
  font-size: 2em;
  margin-top: 25px;
}

.warning-text {
  margin-top: 25px;
}

.btn-delete {
  margin-left: 15px !important;
}

.btn-create-experience {
  margin-top: 25px !important;
}

.experience-card {
  padding: 10px !important;
}

.experience-field {
  margin-bottom: 0 !important;
}