.view-profile-back-btn {
  min-width: 113.75px;
}

.stats-btn {
  min-width: 113.75px;
}

.view-profile-heading {
  font-size: 2rem;
}

.view-profile-row {
  margin-top: 20px;
}

.view-profile-form {
  margin-top: 15px;
}
