.card-padding {
    padding: 30px !important;
}

.account-row {
    margin-bottom: 0 !important;
}

.btn-icon {
    vertical-align: bottom;
    font-size: 24px !important;
    padding-right: 10px;
}

.mern-logo-row {
    margin-bottom: 0px !important;
}

.mern-logo {
    padding-top: 15px;
}

.mern-row {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.logo-row {
    margin-top: 25px;
}

.mb-13 {
    margin-bottom: 13px;
}

.btn-dashboard {
    font-size: 1.2em !important;
}