.btn-home {
  margin: 20px 0 0 10px;
}

.player-stats-heading {
  font-size: 2rem;
  padding-bottom: 5px;
}

.stats-col {
  border-bottom: 1px solid #ff8300;
}

.username {
  font-size: 1.5rem;
  padding-left: 5px;
}

.username-row {
  margin-top: 40px;
}

.username-icon {
  vertical-align: bottom;
  font-size: 2.5rem;
}

.active-stats-collection-item {
  border-bottom: 1px solid #ff8300 !important;
}

.active-stats-collection {
  border: 1px solid #ff8300 !important;
}

.active-stats-card {
  box-shadow: none !important;
}

.last {
  border-bottom: 0 !important;
}