.category-row {
    margin-bottom: 0 !important;
}

.category-row .card {
    margin-top: 0px !important;
}

.score-card-row {
    margin-bottom: 0 !important;
}

.question-row {
    margin-bottom: 0 !important;
    color:#c4af26
}

.end-row {
    margin-top: 20px;
}