.custom-nav {
  height: 75px;
  box-shadow: none;
  background: #031467 !important;
}

.nav-logo {
  padding: 13px 10px 10px 25px;
}

.ul-nav {
  height: 100%;
}

.li-nav {
  height: 100%;
}

.a-nav {
  height: 100%;
}

.nav-div {
  height: 100%;
}

.logout-icon {
  margin-left: 4px !important;
}

.li-nav-username {
  margin-right: 15px;
  padding-top: 6px !important;
}

.nav-profile-icon {
  margin-right: 10px !important;
}

.li-nav-logout {
  padding-top: 6px !important;
}

.nav-white-border {
  border-bottom: 1px solid #FFF;
}