.add-experience-date-input {
  .react-datepicker-wrapper {
    width: 100%;
    .react-datepicker__input-container {
      width: 100%;
    }
  }
}

.datepicker-col {
  margin-left: 0 !important;
}

#is_current[type="checkbox"]:checked + span:not(.lever):before {
  border-top: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid #031467 !important;
  border-bottom: 2px solid #031467 !important;
}

.update-experience-heading {
  font-size: 2rem;
}
