.score-card {
    margin: 1rem 0 0 0 !important;
    background: black !important;
}

.round-row {
    margin-bottom: 0 !important;
    padding: 5px !important;
}

.score-card-content {
    font-size: 1.5rem;
    padding-bottom: 40px !important;
}

.score-card-content-row {
    margin-bottom: 15px !important;
}

.round-title {
    margin: 10px 0 0 10px;
    font-size: 1.2rem;
}

.winnings-output {
    font-size: 1.5rem;
}