.custom-card {
    margin-bottom: 0.5rem !important;
    min-height: 155px;
    max-height: 155px;
    display: flex !important;
    align-items: center !important;
}

.custom-card-content {
    margin: 0 auto;
}

.category-card {
    margin-top: 1rem !important;
}

.category-title {
    font-size: 1.2rem !important;
    text-transform: uppercase !important;
}