@import "../../components/layout/navbar/Navbar";
@import "../../components/layout/landing/Landing";
@import "../../components/auth/register/Register";
@import "../../components/auth/login/Login";
@import "../../components/dashboard/Dashboard";
@import "../../components/layout/landing/Landing";
@import "../../components/layout/alert/Alert";
@import "../../components/layout/loader/Loader";
@import "../../components/profile/create_profile/CreateProfile";
@import "../../components/profile/active_profile/ActiveProfile";
@import "../../components/profile/update_profile/UpdateProfile";
@import "../../components/profile/create_experience/CreateExperience";
@import "../../components/profile/update_experience/UpdateExperience";
@import "../../components/game/game/Game";
@import "../../components/game/category/Category";
@import "../../components//game/clue/clue/Clue";
@import "../../components/game/clue/focus/Focus";
@import "../../components/game/score/Score";
@import "../../components/game/final_jeopardy/Final_Jeopardy";
@import "../../components/game/game_over/Game_Over";
@import "../../components/game/new_high_score/New_High_Score";
@import "../../components/stats/active_stats/ActiveStats";
@import "../../components/stats/player_stats/PlayerStats";
@import "../../components/leaderboard/Leaderboard";
@import "../../components/account/Account";
@import "../../components/players/Players";
@import "../../components/profile/view_profile/ViewProfile";

* {
  font-family: "Roboto", sans-serif;
}

.custom-alert {
  padding: 20px 30px;
  font-weight: 400;
  overflow: hidden;
  font-size: 16px;
  min-height: 48px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.custom-error {
  color: white;
  background: #d50000 !important;
}

.custom-success {
  color: white;
  background: #00c853 !important;
}

.alert-icon {
  padding-right: 10px;
}

.custom-icon {
  display: inline-flex;
  vertical-align: top;
  margin-right: 10px !important;
}

.jeopardy-white {
  background: #fff !important;
}

.jeopardy-blue-dark {
  background: #031467 !important;
}

.jeopardy-blue-dark-text {
  color: #031467 !important;
}

.btn-wide {
  width: 100%;
}

.jeopardy-blue {
  background-color: #13288d !important;
}

.jeopardy-white-text {
  color: #fff !important;
}

.jeopardy-blue-text {
  color: #112db1 !important;
}

.jeopardy-red-text {
  color: #c60000 !important;
}

.jeopardy-green-text {
  color: #009c0a !important;
}

.jeopardy-black-text {
  color: #000 !important;
}

.jeopardy-warm-white {
  background: #fff6ed !important;
}

.uppercase {
  text-transform: uppercase;
}

.bold-text {
  font-weight: bold !important;
}

.wager-button {
  font-size: 0.8rem !important;
}

/* label focus color */
.custom-input-field .input-field input:focus + label {
  color: #031467 !important;
}
/* label underline focus color */
.custom-input-field .input-field input:focus {
  border-bottom: 1px solid #031467 !important;
  box-shadow: 0 1px 0 0 #031467 !important;
}

/* label focus color */
.custom-input-field .input-field textarea:focus + label {
  color: #031467 !important;
}
/* label underline focus color */
.custom-input-field .input-field textarea:focus {
  border-bottom: 1px solid #031467 !important;
  box-shadow: 0 1px 0 0 #031467 !important;
}

.custom-input-field .file-path-wrapper .file-path {
  border-bottom: 1px solid #031467 !important;
}

.currency-input-field .input-field input:focus + label {
  color: #fff !important;
}

/* label underline focus color */
.currency-input-field .input-field input:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

.mt-row {
  margin-top: 50px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.jeopardy-grey {
  background: #e9f3f7 !important;
}

.jeopardy-orange-text {
  color: #ff6f00 !important;
}

.heading-font {
  font-size: 2rem;
}

.heading-row {
  padding-top: 20px;
}

.mt-form {
  margin-top: 20px;
}

.jeopardy-gradient {
  background: rgb(233, 243, 247);
  background: radial-gradient(
    circle,
    rgba(233, 243, 247, 1) 18%,
    rgba(148, 187, 233, 1) 84%
  );
}

.landing-link {
  &:hover {
    color: #010e4b !important;
  }
}

.waves-effect.waves-jeopardy-blue .waves-ripple {
  background-color: #94bbe9;
}

.btn-blue {
  background: #031467 !important;
}

.btn-text {
  font-size: 1.2em !important;
}

.btn-custom {
  background: #fff !important;
  border: 2px solid #12a0d7 !important;
  color: #12a0d7 !important;
  &:hover {
    color: #fff !important;
    background: #031467 !important;
  }
}

// btn btn-large waves-effect waves-jeopardy-blue bold-text btn-wide btn-custom btn-text

.submit-row {
  margin-bottom: 70px !important;
}

.btn-back {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.profile-text {
  font-size: 1.3em !important;
}
