.btn-delete-profile {
  font-size: 1em !important;
}

.btn-delete-account {
  font-size: 1em !important;
}

.delete-account-icon {
  display: inline-flex;
  vertical-align: top;
  margin-right: 10px !important;
}

.warning-text {
  font-size: 1.2em;
}