.high-score-heading {
  font-size: 2.2rem;
  border-bottom: 2px solid #ff8300;
  margin-top: 20px;
}

.high-score-column {
  background: #546098 !important;
}

.high-score-table {
  margin: 0 0 15px 0;
}

.high-score-border {
  border: 5px solid #ff8300;
}
