.social-media-icon {
  font-size: 1.5rem;
  margin: 8px;
}

.profile-image-card {
  margin: 20px 0 20px 20px !important;
}

.profile-edit-btn {
  margin-right: 15px;
  margin-left: 15px;
}

.profile-logo-row {
  margin-top: 20px;
}

.profile-output {
  font-size: 1.2em;
}

.experience-title {
  margin-bottom: 0 !important;
}

.experience-row {
  margin-top: 20px !important;
}

.description-output {
  margin-top: 15px;
}

.date-outputs {
  margin-top: 25px;
}

.from-date-output {
  margin-right: 5px;
}

.to-date-output {
  margin-left: 5px;
}

.experience-card {
  padding: 15px !important;
  margin-bottom: 15px !important;
}

.empty-experience {
  margin-top: 25px;
}

.experience-title {
  margin-bottom: 20px !important;
}