.name-row {
    margin-top: 40px;
}

.final-earnings-row {
    margin-top: 40px;
    margin-bottom: 60px;
}

.game-over-title {
    font-size: 40px !important;
}

.button-row {
    margin-top: 70px;
}

.game-over-name {
    font-size: 25px;
}

.game-over-earnings {
    font-size: 25px;
}

.game-over-card {
    background: #546098 !important;
}

.btn-home {
    min-width: 150.677px;
}

.silver-logo-img {
    width: 250px;
}

.game-over-row {
    margin-top: 40px;
}

.btn-row {
    margin-top: 45px;
}

.custom-card-content {
    padding-bottom: 0 !important;
}