.landing-row {
  margin-top: 25px !important;
}

.landing-register-card {
  background: #fff !important;
  margin: 20px 0 50px 20px !important;
}

.landing-login-card {
  background: #fff !important;
  margin: 20px 20px 50px 0 !important;
}

.landing-outer-card {
  background: rgb(233, 243, 247);
  background: radial-gradient(
    circle,
    rgba(233, 243, 247, 1) 18%,
    rgba(148, 187, 233, 1) 84%
  );
}

.btn-landing {
  width: 100%;
  margin: 20px 0 20px 0;
}

.landing-logo {
  padding-top: 50px !important;
}