.final-jeopardy-row {
  margin-top: 6rem;
}

.final-jeopardy-category-row {
  margin-top: 40px;
}

.wager-row {
  margin-top: 2rem;
}

.clue-row {
  margin-top: 7rem;
}

.final-jeopardy-img {
  width: 30%;
}

.wager-label {
  font-size: 1.5rem !important;
}

.final-jeopardy-heading {
  font-size: 2.5rem !important;
}

.final-jeopardy-wager {
  margin-top: 15px !important;
  font-size: 1.5rem !important;
}

.btn-wager {
  border: 1px solid #fff !important;
}

.game-over-card {
  border: 5px solid #3f53b0 !important;
}

.final-jeopardy-continue-row {
  margin-bottom: 6em !important;
}

#final_jeopardy_wager:focus {
  border-bottom: 1px solid #031467 !important;
}

#final_jeopardy_wager:focus + label {
  color: #031467 !important;
}

.final-container {
    margin-top: 50px;
}