.leaderboard-heading {
  font-size: 2rem;
}

.leaderboard-home-btn {
  border: 1px solid #ff8300 !important;
  &:hover {
    color: #ff8300 !important;
    background: #546098 !important;
    border: 1px solid #ff8300 !important;
  }
}
